.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

input {
    background-color: inherit;
    border: 1px solid white;
}

.formFields {
    display: flex;
    flex-direction: column;
}

.forgetPassword {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 10px;
}