.main {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.formFields {
    display: flex;
    flex-direction: column;
}